.header{
    position: fixed;
    z-index: 1;
    top: 0%;
    width:100%
}
/* fixed header */
.mr-auto ul{
    font-family: 'Boogaloo', cursive;
}

.text-center
{
margin-top:110px;
padding-bottom:20px;
font-family:'Boogaloo', cursive;
height: 50%;
width:100%;
margin-left: 0px;
}
/* jubmbotron styles */

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-slide
{
    margin-bottom: 200px;
    
}
.mb-3{
    margin-top: 30px;
    
}
/* carousel styles */
.card-body{
    border:solid 1px lightblue;
    padding:20px;
    text-align:center; 
    font-family: 'Boogaloo', cursive;
    background-color: darkgrey;
    width: 100%;

}
.card-body img{
    width:250px;
    height:300px;
}
.card-bod  h1{
    color: brown;
}
.card-body ul{
    list-style-type: none;
    font-size: 28px;
}
/* tabbed pane styles */
.container-fluid{
    margin-top: 20px;
}
.row img{
    margin-bottom: 10px;
}
#row1{

    text-align: center;
    background-color:rgb(156, 139, 132);
    font-family: 'Boogaloo', cursive;
}
#row2{
  
    text-align: center;
    background-color:cadetblue;
    font-family: 'Boogaloo', cursive;
    
}
#row3{
   
    text-align: center;
    background-color:cadetblue;
    font-family: 'Boogaloo', cursive;
}
#row4{

    text-align: center;
    background-color:rgb(156, 139, 132);
            font-family: 'Boogaloo', cursive;
}
/* grid css */
.footer{
    background-color:rgb(223, 164, 121);
    margin-top: 15px;
    height:250px;
    font-family: 'Boogaloo', cursive;
    width:100%;
    margin-bottom: 0%;
}
.footer li{
    display: inline;
    padding-right: 15px;
    font-size: 20px;
}
.modal-container{
    margin-left: 50%;
    vertical-align:text-top;
    font-size: 20px;
}
.icons ul{
    float:right;
}

.fa {
    padding: 5px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
   .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .copyright{
      margin-left: 30px;
      font-size: 15px;
  }
  .site{
      margin-left: 30px;
      font-size: 15px;
  }
  /* end of footer  */
  /* social media icons css */
